@charset "utf-8";
/* CSS Document */
.content { padding-right:20px !important; padding-left:20px !important;}
.phone_view {right: 96px;}
.info_section {padding-right: 365px;}
.form_holder {right: -18px; top: 59px;}
