.progress {
  width: 100%;
  height: 12px;
}

.progress-wrap {
  overflow: hidden;
  position: relative;
}
.experience_progress.progress-wrap {background: url(../images/experience_bar_bg.png);}
.cro_progress.progress-wrap {background: url(../images/cro_bar_bg.png);}
.speed_progress.progress-wrap {background: url(../images/speed_bar_bg.png);}
  
.progress-bar {
    background: #f4f4f4;
    left: 0;
    position: absolute;
    top: 0;
}

